:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);

  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(360, 100%, 100%);

  --primary-color-100: var(--dark-cyan);
  --primary-color-200: var(--very-dark-desaturated-blue);
  --primary-color-300: var(--dark-grayish-blue);

  --neutral-color-100: var(--white);
  --neutral-color-200: var(--dark-gray);
  --font-weight-400: 400;
  --font-weight-700: 700;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.8rem;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--primary-color-100);
  font-weight: var(--font-weight-400);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

h2,
h3 {
  margin: 0;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--neutral-color-100);
  width: calc(100% - 4.8rem);
  max-width: 35rem;
  border-radius: 1.5rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0.1rem 1rem 0.1rem hsla(0, 0%, 59%, 0.5);
}

.user-card {
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
}

.user-card__image {
  margin-top: 8.7rem;
  border-radius: 50%;
  border: 0.5rem solid var(--neutral-color-100);
}

.user-card__name {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: var(--font-weight-700);
  color: var(--primary-color-200);
}

.user-card__age {
  color: var(--primary-color-300);
  font-weight: var(--font-weight-400);
}

.user-card__city {
  margin-top: 1rem;
  color: var(--primary-color-300);
  font-size: 1.5rem;
  font-weight: var(--font-weight-400);
}

.card__stats {
  padding: 2.6rem;
  list-style: none;
  margin-block: 2.6rem 0;
  border-top: 0.1rem solid hsla(0, 0%, 59%, 0.3);
  display: flex;
  justify-content: space-around;
}

.stat-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stat-card__interactions {
  font-size: 1.2rem;
  color: var(--primary-color-300);
  letter-spacing: 0.08em;
}
